<!DOCTYPE html>
<html>
  <head>
    <title>Leave your message on the world!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDaQw4kroF18iZN200cqKY8r-SxlXCbhII&sensor=true">
    </script>
    <script data-main="javascripts/main" src="javascripts/lib/require/require.js"></script>
  </head>
  <body>
    <div class="container"></div>
  </body>
</html>
