<input type="text" placeholder="Your message" id="new-message" class="text"></textarea>
<button class="btn btn-primary btn-post js-post-message">Post</button>
<input type="hidden" id="color-picker" name="message_color" value="#000000"></input>
<span class="close-widget"><i class="icon-white icon-remove"></i></span>
