@import 'bootstrap.css';

@import 'jquery.miniColors.css';
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.container {
  width: auto;
}
.page,
.message-wall-container .actionable {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}
.message {
  display: inline-block;
  position: absolute;
  font-size: 32px;
  font-weight: bold;
}
.message-widget {
  position: absolute;
  z-index: 100000;
  background: #000;
  padding: 5px;
  display: none;
}
.message-widget input[type="text"] {
  width: 300px;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  padding: 10px;
  line-height: normal;
  margin: 0 10px 0 0;
}
.message-widget .btn-post {
  display: inline-block;
  height: 35px;
  width: 95px;
  font-size: 18px;
  font-weight: bold;
  vertical-align: middle;
}
#color-picker {
  display: inline-block;
  vertical-align: middle;
}
