@import 'bootstrap.css';
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.container {
  width: auto;
}
.page,
.message-wall-container .actionable {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}
.message {
  display: inline-block;
  position: absolute;
  font-size: 32px;
}
.message-widget {
  position: absolute;
  z-index: 100000;
  background: #eee;
  padding: 20px;
  display: none;
}
.message-widget textarea {
  width: 300px;
  height: 100px;
  display: block;
  font-size: 22px;
}
.message-widget .btn-post {
  padding: 10px 20px;
  font-size: 22px;
  font-weight: bold;
}
