@import 'bootstrap.css';

@import 'jquery.miniColors.css';
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.container {
  width: auto;
}
.page,
.message-wall-container .actionable,
#map-container {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}
.message-wall-container .actionable {
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5);
}
.gmaps-container {
  z-index: 0;
}
.message {
  display: inline-block;
  position: absolute;
  font-size: 20px;
  font-weight: bold;
}
.message-widget {
  position: absolute;
  z-index: 100000;
  background: #000;
  padding: 5px;
  display: none;
  width: 390px;
}
.message-widget input[type="text"] {
  width: 200px;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  padding: 5px;
  line-height: normal;
  margin: 0 10px 0 0;
}
.message-widget .btn-post {
  display: inline-block;
  height: 32px;
  width: 95px;
  font-size: 18px;
  font-weight: bold;
  vertical-align: middle;
  margin-right: 7px;
}
.message-widget .close-widget {
  cursor: pointer;
  display: block;
  float: right;
}
#color-picker {
  display: inline-block;
  vertical-align: middle;
}
